---
layout: default
---
<div class="post">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2 itemprop="name headline">{{ page.title }}</h2>
      </div>
    </div>

    {% assign first_image = 1 %}
    {% assign header_image = '' %}
    {% for image in page.images %}
      {% if first_image == 1 %}
        {% assign header_image = image.url %}
        {% assign first_image = 1 %}
      {% endif %}
    {% endfor %}

    {% if header_image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ header_image }}');"></figure>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">

          {% assign stanza_count = 1 %}
          {% assign image_stanza_count = 1 %}
          {% assign image_count = 1 %}
          {% for story in page.stories %}

            <span title="{{ story.paper }}in {{ story.city }}, {{ story.state }}">{{ story.title }}</span><br />

            {% assign stanza_count = stanza_count | plus: 1 %}

            {% if stanza_count == 5 %}

              {% assign stanza_count = 1 %}
              {% assign image_stanza_count = image_stanza_count | plus: 1 %}

              {% if image_stanza_count == 6 %}

                {% assign image_stanza_count = 1 %}
                {% assign image_count = image_count | plus: 1 %}

                <div class="post__img">
                  <div>
                    <figure class="absolute-bg" style="background-image: url('{{ page.images[image_count].url }}');"></figure>
                  </div>
                </div>

              {% else %}
                <br>
              {% endif %}

            {% endif %}

          {% endfor %}
      </div>
    </div>

  </article>
</div>
